{
  "openapi": "3.1.0",
  "info": {
    "title": "BankSync API",
    "version": "1.0.0",
    "description": "Connect bank accounts and sync financial data to Notion, Google Sheets, and Airtable. Authenticate with an API key (X-API-Key header) or a Firebase ID token (Bearer).",
    "contact": { "name": "BankSync Support", "url": "https://banksync.com" }
  },
  "servers": [{ "url": "https://api.banksync.com", "description": "Production" }],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key — pass in the X-API-Key header. Obtain from Developer Settings in the BankSync app."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Firebase ID token — pass as a Bearer token in the Authorization header."
      }
    },
    "schemas": {
      "ConditionGroup": {
        "type": "object",
        "properties": {
          "logic": { "type": "string", "enum": ["and", "or"] },
          "conditions": {
            "type": "array",
            "minItems": 1,
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "field": { "type": "string" },
                    "operator": { "type": "string" },
                    "value": { "oneOf": [{ "type": "string" }, { "type": "number" }] }
                  },
                  "required": ["field", "operator"]
                },
                { "$ref": "#/components/schemas/ConditionGroup" }
              ]
            }
          }
        },
        "required": ["logic", "conditions"]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/banks": {
      "get": {
        "operationId": "listBanks",
        "summary": "List bank connections",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of banks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "source": { "type": "string", "enum": ["plaid", "basiq"] },
                          "type": { "type": "string" },
                          "order": { "type": "number" },
                          "icon": { "type": "string" },
                          "connectionStatus": {
                            "type": "object",
                            "properties": {
                              "status": { "type": "string" },
                              "errorCode": { "type": "string" },
                              "errorMessage": { "type": "string" }
                            },
                            "required": ["status"]
                          },
                          "institutionId": { "type": "string" },
                          "createdAt": { "type": "string" },
                          "updatedAt": { "type": "string" },
                          "links": {
                            "type": "object",
                            "additionalProperties": { "type": "string" }
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "source",
                          "type",
                          "order",
                          "createdAt",
                          "updatedAt",
                          "links"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}": {
      "get": {
        "operationId": "getBank",
        "summary": "Get a bank connection",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Bank detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "name": { "type": "string" },
                        "source": { "type": "string", "enum": ["plaid", "basiq"] },
                        "type": { "type": "string" },
                        "order": { "type": "number" },
                        "icon": { "type": "string" },
                        "connectionStatus": {
                          "type": "object",
                          "properties": {
                            "status": { "type": "string" },
                            "errorCode": { "type": "string" },
                            "errorMessage": { "type": "string" }
                          },
                          "required": ["status"]
                        },
                        "institutionId": { "type": "string" },
                        "createdAt": { "type": "string" },
                        "updatedAt": { "type": "string" },
                        "links": { "type": "object", "additionalProperties": { "type": "string" } }
                      },
                      "required": [
                        "id",
                        "name",
                        "source",
                        "type",
                        "order",
                        "createdAt",
                        "updatedAt",
                        "links"
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBank",
        "summary": "Remove a bank connection",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Bank removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": { "deleted": { "type": "boolean", "enum": [true] } },
                      "required": ["deleted"]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/link": {
      "post": {
        "operationId": "createBankLink",
        "summary": "Create a bank authorization link",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "enum": ["plaid", "basiq"],
                    "description": "Banking data provider"
                  },
                  "institutionId": {
                    "type": "string",
                    "description": "Pre-select a specific institution (Plaid institution_id or Basiq institution ID)"
                  },
                  "countryCodes": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "ISO 3166-1 alpha-2 country codes to scope the connection, e.g. [\"AU\", \"US\"]"
                  },
                  "redirectUri": {
                    "type": "string",
                    "description": "OAuth redirect URI for Plaid Link hosted mode"
                  }
                },
                "required": ["source"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank authorization link created — open authUrl in browser or use linkToken with the Plaid Link SDK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "linkToken": {
                          "type": "string",
                          "description": "Plaid link_token — pass to Plaid Link SDK. For Basiq this is the authorization URL."
                        },
                        "authUrl": {
                          "type": "string",
                          "description": "Hosted authorization URL — open in browser to authorize without the SDK"
                        },
                        "expiresAt": {
                          "type": "string",
                          "description": "ISO timestamp when the link token expires (4 hours for new connections)"
                        },
                        "provider": { "type": "string", "enum": ["plaid", "basiq"] },
                        "instructions": {
                          "type": "string",
                          "description": "Next steps to complete the connection"
                        }
                      },
                      "required": ["linkToken", "authUrl", "expiresAt", "provider", "instructions"]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/connect": {
      "post": {
        "operationId": "connectBank",
        "summary": "Complete a Plaid bank connection",
        "tags": ["Banks"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "publicToken": {
                    "type": "string",
                    "description": "Plaid public_token received from Plaid Link onSuccess callback"
                  },
                  "institutionId": {
                    "type": "string",
                    "description": "Institution ID from Plaid Link metadata (used for display)"
                  },
                  "institutionName": {
                    "type": "string",
                    "description": "Institution name from Plaid Link metadata (used as bank display name)"
                  }
                },
                "required": ["publicToken"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bank connection created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "name": { "type": "string" },
                        "source": { "type": "string", "enum": ["plaid", "basiq"] },
                        "type": { "type": "string" },
                        "order": { "type": "number" },
                        "icon": { "type": "string" },
                        "connectionStatus": {
                          "type": "object",
                          "properties": {
                            "status": { "type": "string" },
                            "errorCode": { "type": "string" },
                            "errorMessage": { "type": "string" }
                          },
                          "required": ["status"]
                        },
                        "institutionId": { "type": "string" },
                        "createdAt": { "type": "string" },
                        "updatedAt": { "type": "string" },
                        "links": { "type": "object", "additionalProperties": { "type": "string" } }
                      },
                      "required": [
                        "id",
                        "name",
                        "source",
                        "type",
                        "order",
                        "createdAt",
                        "updatedAt",
                        "links"
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid token or exchange failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts for a bank",
        "tags": ["Accounts"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "bankId": { "type": "string" },
                          "accountNumber": { "type": "string" },
                          "accountName": { "type": "string" },
                          "accountType": { "type": "string" },
                          "balance": { "type": "number" },
                          "availableBalance": { "type": "number" },
                          "currency": { "type": "string" },
                          "createdAt": { "type": "string" },
                          "updatedAt": { "type": "string" },
                          "links": {
                            "type": "object",
                            "additionalProperties": { "type": "string" }
                          }
                        },
                        "required": [
                          "id",
                          "bankId",
                          "accountNumber",
                          "accountType",
                          "balance",
                          "availableBalance",
                          "currency",
                          "createdAt",
                          "updatedAt",
                          "links"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get an account",
        "tags": ["Accounts"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Account detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "bankId": { "type": "string" },
                        "accountNumber": { "type": "string" },
                        "accountName": { "type": "string" },
                        "accountType": { "type": "string" },
                        "balance": { "type": "number" },
                        "availableBalance": { "type": "number" },
                        "currency": { "type": "string" },
                        "createdAt": { "type": "string" },
                        "updatedAt": { "type": "string" },
                        "links": { "type": "object", "additionalProperties": { "type": "string" } }
                      },
                      "required": [
                        "id",
                        "bankId",
                        "accountNumber",
                        "accountType",
                        "balance",
                        "availableBalance",
                        "currency",
                        "createdAt",
                        "updatedAt",
                        "links"
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List transactions for an account",
        "tags": ["Transactions"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Plaid cursor for incremental sync" },
            "required": false,
            "description": "Plaid cursor for incremental sync",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Start date (YYYY-MM-DD)"
            },
            "required": false,
            "description": "Start date (YYYY-MM-DD)",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "End date (YYYY-MM-DD)"
            },
            "required": false,
            "description": "End date (YYYY-MM-DD)",
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "date": { "type": "string" },
                          "authorizedDate": { "type": "string" },
                          "description": { "type": "string" },
                          "amount": { "type": "number" },
                          "creditAmount": { "type": "number" },
                          "debitAmount": { "type": "number" },
                          "currency": { "type": "string" },
                          "category": { "type": "string" },
                          "type": { "type": "string" },
                          "reference": { "type": "string" },
                          "pending": { "type": "boolean" },
                          "pendingTransactionId": { "type": "string", "nullable": true },
                          "accountId": { "type": "string" },
                          "accountName": { "type": "string" },
                          "accountNumber": { "type": "string" },
                          "bankId": { "type": "string" },
                          "bank": { "type": "string" }
                        },
                        "required": [
                          "id",
                          "date",
                          "description",
                          "amount",
                          "creditAmount",
                          "debitAmount",
                          "currency",
                          "category",
                          "type",
                          "pending",
                          "accountId",
                          "bankId"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/balances": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get live balance for an account",
        "tags": ["Balances"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Live balance for the account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accountId": { "type": "string" },
                        "current": { "type": "number" },
                        "available": { "type": "number", "nullable": true },
                        "currency": { "type": "string" },
                        "asOf": { "type": "string" }
                      },
                      "required": ["accountId", "current", "available", "currency", "asOf"]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/trades": {
      "get": {
        "operationId": "listTrades",
        "summary": "List investment trades for an account",
        "tags": ["Trades"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Start date (YYYY-MM-DD, default last 90 days)"
            },
            "required": false,
            "description": "Start date (YYYY-MM-DD, default last 90 days)",
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "End date (YYYY-MM-DD, default today)"
            },
            "required": false,
            "description": "End date (YYYY-MM-DD, default today)",
            "name": "to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "accountId": { "type": "string" },
                          "bankId": { "type": "string" },
                          "date": { "type": "string" },
                          "type": {
                            "type": "string",
                            "description": "buy, sell, dividend, split, etc."
                          },
                          "securityName": { "type": "string" },
                          "securityId": { "type": "string" },
                          "ticker": { "type": "string" },
                          "quantity": { "type": "number" },
                          "price": { "type": "number" },
                          "amount": { "type": "number" },
                          "fees": { "type": "number" },
                          "currency": { "type": "string" }
                        },
                        "required": ["id", "accountId", "date", "type", "amount", "currency"]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/holdings": {
      "get": {
        "operationId": "listHoldings",
        "summary": "List current investment holdings for an account",
        "tags": ["Holdings"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Current investment positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": { "type": "string" },
                          "bankId": { "type": "string" },
                          "securityName": { "type": "string" },
                          "securityId": { "type": "string" },
                          "ticker": { "type": "string" },
                          "quantity": { "type": "number" },
                          "costBasis": { "type": "number", "nullable": true },
                          "currentValue": { "type": "number" },
                          "currentPrice": { "type": "number" },
                          "currency": { "type": "string" }
                        },
                        "required": ["accountId", "quantity", "currency"]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/banks/{bid}/accounts/{aid}/loan": {
      "get": {
        "operationId": "getLoan",
        "summary": "Get loan or liability details for an account",
        "tags": ["Loans"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Bank ID" },
            "required": true,
            "description": "Bank ID",
            "name": "bid",
            "in": "path"
          },
          {
            "schema": { "type": "string", "description": "Account ID" },
            "required": true,
            "description": "Account ID",
            "name": "aid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Loan / liability details for the account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accountId": { "type": "string" },
                        "loanType": { "type": "string" },
                        "principalBalance": { "type": "number" },
                        "originationPrincipalAmount": { "type": "number" },
                        "interestRatePercentage": { "type": "number" },
                        "nextPaymentAmount": { "type": "number" },
                        "nextPaymentDueDate": { "type": "string" },
                        "maturityDate": { "type": "string" },
                        "isOverdue": { "type": "boolean" },
                        "currency": { "type": "string" }
                      },
                      "required": ["accountId"]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "404": {
            "description": "No loan data found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/feeds": {
      "get": {
        "operationId": "listFeeds",
        "summary": "List feeds",
        "tags": ["Feeds"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of feeds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "icon": { "type": "string" },
                          "workspaceId": { "type": "string" },
                          "source": { "type": "string", "enum": ["sync", "extractor", "upload"] },
                          "dataType": {
                            "type": "string",
                            "enum": [
                              "transactions",
                              "balances",
                              "trades",
                              "holdings",
                              "loans",
                              "receipts",
                              "invoices",
                              "documents"
                            ]
                          },
                          "sourceConfig": {
                            "type": "object",
                            "additionalProperties": { "nullable": true }
                          },
                          "destinationConfig": {
                            "type": "object",
                            "additionalProperties": { "nullable": true }
                          },
                          "fieldMappings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "sourceField": { "type": "string" },
                                "destinationField": { "type": "string" }
                              },
                              "required": ["sourceField", "destinationField"]
                            }
                          },
                          "dataTypeOptions": {
                            "type": "object",
                            "additionalProperties": { "nullable": true }
                          },
                          "extractionConfig": {
                            "type": "object",
                            "properties": {
                              "extractionFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": { "type": "string" },
                                    "name": { "type": "string" },
                                    "type": { "type": "string" },
                                    "description": { "type": "string" },
                                    "examples": { "type": "array", "items": { "type": "string" } },
                                    "isItemField": { "type": "boolean" }
                                  },
                                  "required": ["name", "type"]
                                }
                              },
                              "itemizePerRow": { "type": "boolean" },
                              "extractionInstructions": { "type": "string" }
                            },
                            "required": ["extractionFields", "itemizePerRow"]
                          },
                          "schedule": {
                            "type": "object",
                            "properties": {
                              "enabled": { "type": "boolean" },
                              "frequency": {
                                "type": "string",
                                "enum": ["daily", "weekly", "monthly"]
                              },
                              "timeOfDay": {
                                "type": "string",
                                "pattern": "^\\d{2}:\\d{2}$",
                                "description": "\"HH:MM\" UTC format, e.g. \"09:30\""
                              },
                              "dayOfWeek": { "type": "number", "minimum": 0, "maximum": 6 },
                              "dayOfMonth": { "type": "number", "minimum": 1, "maximum": 31 }
                            },
                            "required": ["enabled", "frequency", "timeOfDay"]
                          },
                          "state": {
                            "type": "object",
                            "additionalProperties": { "nullable": true }
                          },
                          "order": { "type": "number" },
                          "createdAt": { "type": "string" },
                          "updatedAt": { "type": "string" }
                        },
                        "required": [
                          "id",
                          "name",
                          "source",
                          "dataType",
                          "state",
                          "order",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createFeed",
        "summary": "Create a feed",
        "tags": ["Feeds"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Human-readable feed name, e.g. \"ANZ Transactions → Notion\""
                  },
                  "source": {
                    "type": "string",
                    "enum": ["sync", "extractor", "upload"],
                    "description": "\"sync\" = bank API; \"extractor\" = email/PDF AI extraction; \"upload\" = file upload"
                  },
                  "dataType": {
                    "type": "string",
                    "enum": [
                      "transactions",
                      "balances",
                      "trades",
                      "holdings",
                      "loans",
                      "receipts",
                      "invoices",
                      "documents"
                    ],
                    "description": "Type of financial data this feed produces"
                  },
                  "icon": { "type": "string", "description": "Optional emoji or icon identifier" },
                  "order": { "type": "integer", "description": "Display sort order" },
                  "sourceConfig": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["sync"] },
                          "accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bankId": {
                                  "type": "string",
                                  "description": "Bank ID — get from list_banks"
                                },
                                "accountId": {
                                  "type": "string",
                                  "description": "Account ID — get from list_accounts"
                                }
                              },
                              "required": ["bankId", "accountId"]
                            },
                            "minItems": 1,
                            "description": "One or more bank accounts to sync from"
                          }
                        },
                        "required": ["type", "accounts"],
                        "description": "Bank API sync source — pulls structured financial data from Plaid or Basiq"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["extractor"] },
                          "inboxAddress": {
                            "type": "string",
                            "format": "email",
                            "description": "Auto-generated forwarding email address (set by system on creation)"
                          },
                          "whitelistEnabled": {
                            "type": "boolean",
                            "default": false,
                            "description": "When true, only emails from addresses in the whitelist are processed"
                          },
                          "whitelist": {
                            "type": "array",
                            "items": { "type": "string", "format": "email" },
                            "description": "Allowed sender email addresses (only used when whitelistEnabled is true)"
                          }
                        },
                        "required": ["type"],
                        "description": "Email extraction source — processes forwarded emails using AI"
                      },
                      {
                        "type": "object",
                        "properties": { "type": { "type": "string", "enum": ["upload"] } },
                        "required": ["type"],
                        "description": "File upload source — processes uploaded PDFs/images using AI"
                      }
                    ],
                    "description": "How to connect to the data source. Required before triggering a sync."
                  },
                  "destinationConfig": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["notion"] },
                          "integrationId": {
                            "type": "string",
                            "description": "Notion integration ID — get from list_integrations"
                          },
                          "databaseId": {
                            "type": "string",
                            "description": "Notion database ID to write records into"
                          }
                        },
                        "required": ["type", "integrationId", "databaseId"],
                        "description": "Write to a Notion database"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["airtable"] },
                          "integrationId": {
                            "type": "string",
                            "description": "Airtable integration ID — get from list_integrations"
                          },
                          "baseId": { "type": "string", "description": "Airtable base ID" },
                          "tableId": {
                            "type": "string",
                            "description": "Airtable table ID to write records into"
                          }
                        },
                        "required": ["type", "integrationId", "baseId", "tableId"],
                        "description": "Write to an Airtable table"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["google_sheets"] },
                          "integrationId": {
                            "type": "string",
                            "description": "Google Sheets integration ID — get from list_integrations"
                          },
                          "spreadsheetId": {
                            "type": "string",
                            "description": "Google Sheets spreadsheet ID"
                          },
                          "sheetName": {
                            "type": "string",
                            "description": "Name of the sheet tab to write into"
                          },
                          "direction": {
                            "type": "string",
                            "enum": ["row", "column"],
                            "description": "\"row\" = each record is a row (default); \"column\" = each record is a column"
                          },
                          "headerRowOrColumn": {
                            "type": "integer",
                            "minimum": 0,
                            "exclusiveMinimum": true,
                            "description": "Row number (for row direction) or column number (for column direction) that contains headers"
                          },
                          "pushLocation": {
                            "type": "string",
                            "enum": ["beginning", "end"],
                            "description": "Where to insert new records: \"beginning\" prepends, \"end\" appends"
                          },
                          "attachmentFolderId": {
                            "type": "string",
                            "description": "Optional Google Drive folder ID for storing file attachments"
                          }
                        },
                        "required": [
                          "type",
                          "integrationId",
                          "spreadsheetId",
                          "sheetName",
                          "direction",
                          "headerRowOrColumn",
                          "pushLocation"
                        ],
                        "description": "Write to a Google Sheets spreadsheet"
                      }
                    ],
                    "description": "Where to write the data. Required before triggering a sync."
                  },
                  "fieldMappings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sourceField": {
                          "type": "string",
                          "description": "Source field key — get valid keys from get_data_type_schema"
                        },
                        "destinationField": {
                          "type": "string",
                          "description": "Destination property ID (Notion/Airtable) or column name (Sheets)"
                        }
                      },
                      "required": ["sourceField", "destinationField"]
                    },
                    "description": "Maps source fields to destination columns/properties"
                  },
                  "dataTypeOptions": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "dataType": { "type": "string", "enum": ["transactions"] },
                          "pendingMode": {
                            "type": "string",
                            "enum": ["sync_all", "filter_pending", "track_and_update"],
                            "description": "\"sync_all\" — include pending transactions as-is; \"filter_pending\" — exclude pending transactions; \"track_and_update\" — sync pending and update records when they settle (recommended)"
                          }
                        },
                        "required": ["dataType", "pendingMode"],
                        "description": "Processing options for transaction feeds"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "dataType": { "type": "string", "enum": ["balances"] },
                          "mode": {
                            "type": "string",
                            "enum": ["append", "overwrite"],
                            "description": "\"append\" — add a new row for each sync (historical log); \"overwrite\" — replace the existing record (live snapshot)"
                          }
                        },
                        "required": ["dataType", "mode"],
                        "description": "Processing options for balance feeds"
                      },
                      {
                        "type": "object",
                        "properties": { "dataType": { "type": "string", "enum": ["trades"] } },
                        "required": ["dataType"],
                        "description": "Processing options for trade feeds"
                      },
                      {
                        "type": "object",
                        "properties": { "dataType": { "type": "string", "enum": ["holdings"] } },
                        "required": ["dataType"],
                        "description": "Processing options for holdings feeds"
                      },
                      {
                        "type": "object",
                        "properties": { "dataType": { "type": "string", "enum": ["loans"] } },
                        "required": ["dataType"],
                        "description": "Processing options for loan feeds"
                      }
                    ],
                    "description": "Data-type-specific processing options (sync feeds only)"
                  },
                  "extractionConfig": {
                    "type": "object",
                    "properties": {
                      "extractionFields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "description": "Unique field identifier (snake_case)"
                            },
                            "name": {
                              "type": "string",
                              "description": "Human-readable field name"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "string",
                                "number",
                                "date",
                                "currency",
                                "boolean",
                                "category",
                                "id"
                              ],
                              "description": "Field data type"
                            },
                            "description": {
                              "type": "string",
                              "description": "Description to guide AI extraction"
                            },
                            "examples": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "Example values to improve extraction accuracy"
                            },
                            "isItemField": {
                              "type": "boolean",
                              "description": "True if this field is part of a line-item list (e.g. individual receipt items)"
                            }
                          },
                          "required": ["key", "name", "type"]
                        },
                        "minItems": 1,
                        "description": "Fields the AI will extract from each document"
                      },
                      "itemizePerRow": {
                        "type": "boolean",
                        "description": "True = one destination row per extracted item; False = one row per document"
                      },
                      "extractionInstructions": {
                        "type": "string",
                        "description": "Custom instructions for the AI extractor (e.g. \"always use AUD for currency\")"
                      }
                    },
                    "required": ["extractionFields", "itemizePerRow"],
                    "description": "AI extraction field definitions (extractor/upload feeds only)"
                  },
                  "schedule": {
                    "type": "object",
                    "properties": {
                      "enabled": { "type": "boolean" },
                      "frequency": { "type": "string", "enum": ["daily", "weekly", "monthly"] },
                      "timeOfDay": { "type": "string", "pattern": "^\\d{2}:\\d{2}$" },
                      "dayOfWeek": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 6,
                        "description": "Day of week for weekly schedules (0 = Sunday, 6 = Saturday)"
                      },
                      "dayOfMonth": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 31,
                        "description": "Day of month for monthly schedules"
                      }
                    },
                    "required": ["enabled", "frequency", "timeOfDay"],
                    "description": "Automated sync schedule"
                  }
                },
                "required": ["name", "source", "dataType"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feed created — returns the full feed document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "name": { "type": "string" },
                        "icon": { "type": "string" },
                        "workspaceId": { "type": "string" },
                        "source": { "type": "string", "enum": ["sync", "extractor", "upload"] },
                        "dataType": {
                          "type": "string",
                          "enum": [
                            "transactions",
                            "balances",
                            "trades",
                            "holdings",
                            "loans",
                            "receipts",
                            "invoices",
                            "documents"
                          ]
                        },
                        "sourceConfig": {
                          "type": "object",
                          "additionalProperties": { "nullable": true }
                        },
                        "destinationConfig": {
                          "type": "object",
                          "additionalProperties": { "nullable": true }
                        },
                        "fieldMappings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "sourceField": { "type": "string" },
                              "destinationField": { "type": "string" }
                            },
                            "required": ["sourceField", "destinationField"]
                          }
                        },
                        "dataTypeOptions": {
                          "type": "object",
                          "additionalProperties": { "nullable": true }
                        },
                        "extractionConfig": {
                          "type": "object",
                          "properties": {
                            "extractionFields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": { "type": "string" },
                                  "name": { "type": "string" },
                                  "type": { "type": "string" },
                                  "description": { "type": "string" },
                                  "examples": { "type": "array", "items": { "type": "string" } },
                                  "isItemField": { "type": "boolean" }
                                },
                                "required": ["name", "type"]
                              }
                            },
                            "itemizePerRow": { "type": "boolean" },
                            "extractionInstructions": { "type": "string" }
                          },
                          "required": ["extractionFields", "itemizePerRow"]
                        },
                        "schedule": {
                          "type": "object",
                          "properties": {
                            "enabled": { "type": "boolean" },
                            "frequency": {
                              "type": "string",
                              "enum": ["daily", "weekly", "monthly"]
                            },
                            "timeOfDay": {
                              "type": "string",
                              "pattern": "^\\d{2}:\\d{2}$",
                              "description": "\"HH:MM\" UTC format, e.g. \"09:30\""
                            },
                            "dayOfWeek": { "type": "number", "minimum": 0, "maximum": 6 },
                            "dayOfMonth": { "type": "number", "minimum": 1, "maximum": 31 }
                          },
                          "required": ["enabled", "frequency", "timeOfDay"]
                        },
                        "state": { "type": "object", "additionalProperties": { "nullable": true } },
                        "order": { "type": "number" },
                        "createdAt": { "type": "string" },
                        "updatedAt": { "type": "string" }
                      },
                      "required": [
                        "id",
                        "name",
                        "source",
                        "dataType",
                        "state",
                        "order",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — sourceConfig, fieldMappings, or source×dataType combination is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" },
                    "errors": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "Hard errors that blocked the request"
                    },
                    "warnings": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "Soft warnings — resolve before triggering a sync"
                    }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/feeds/{fid}": {
      "get": {
        "operationId": "getFeed",
        "summary": "Get a feed",
        "tags": ["Feeds"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Feed ID" },
            "required": true,
            "description": "Feed ID",
            "name": "fid",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [true] },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "name": { "type": "string" },
                        "icon": { "type": "string" },
                        "workspaceId": { "type": "string" },
                        "source": { "type": "string", "enum": ["sync", "extractor", "upload"] },
                        "dataType": {
                          "type": "string",
                          "enum": [
                            "transactions",
                            "balances",
                            "trades",
                            "holdings",
                            "loans",
                            "receipts",
                            "invoices",
                            "documents"
                          ]
                        },
                        "sourceConfig": {
                          "type": "object",
                          "additionalProperties": { "nullable": true }
                        },
                        "destinationConfig": {
                          "type": "object",
                          "additionalProperties": { "nullable": true }
                        },
                        "fieldMappings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "sourceField": { "type": "string" },
                              "destinationField": { "type": "string" }
                            },
                            "required": ["sourceField", "destinationField"]
                          }
                        },
                        "dataTypeOptions": {
                          "type": "object",
                          "additionalProperties": { "nullable": true }
                        },
                        "extractionConfig": {
                          "type": "object",
                          "properties": {
                            "extractionFields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": { "type": "string" },
                                  "name": { "type": "string" },
                                  "type": { "type": "string" },
                                  "description": { "type": "string" },
                                  "examples": { "type": "array", "items": { "type": "string" } },
                                  "isItemField": { "type": "boolean" }
                                },
                                "required": ["name", "type"]
                              }
                            },
                            "itemizePerRow": { "type": "boolean" },
                            "extractionInstructions": { "type": "string" }
                          },
                          "required": ["extractionFields", "itemizePerRow"]
                        },
                        "schedule": {
                          "type": "object",
                          "properties": {
                            "enabled": { "type": "boolean" },
                            "frequency": {
                              "type": "string",
                              "enum": ["daily", "weekly", "monthly"]
                            },
                            "timeOfDay": {
                              "type": "string",
                              "pattern": "^\\d{2}:\\d{2}$",
                              "description": "\"HH:MM\" UTC format, e.g. \"09:30\""
                            },
                            "dayOfWeek": { "type": "number", "minimum": 0, "maximum": 6 },
                            "dayOfMonth": { "type": "number", "minimum": 1, "maximum": 31 }
                          },
                          "required": ["enabled", "frequency", "timeOfDay"]
                        },
                        "state": { "type": "object", "additionalProperties": { "nullable": true } },
                        "order": { "type": "number" },
                        "createdAt": { "type": "string" },
                        "updatedAt": { "type": "string" }
                      },
                      "required": [
                        "id",
                        "name",
                        "source",
                        "dataType",
                        "state",
                        "order",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": ["success", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "enum": [false] },
                    "error": { "type": "string" }
                  },
                  "required": ["success", "error"]
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateFeed",
        "summary": "Update a feed",
        "tags": ["Feeds"],
        "security": [{ "apiKey": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "description": "Feed ID" },
            "required": true,
            "description": "Feed ID",
            "name": "fid",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Human-readable feed name, e.g. \"ANZ Transactions → Notion\""
                  },
                  "icon": { "type": "string", "description": "Optional emoji or icon identifier" },
                  "order": { "type": "integer", "description": "Display sort order" },
                  "sourceConfig": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["sync"] },
                          "accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bankId": {
                                  "type": "string",
                                  "description": "Bank ID — get from list_banks"
                                },
                                "accountId": {
                                  "type": "string",
                                  "description": "Account ID — get from list_accounts"
                                }
                              },
                              "required": ["bankId", "accountId"]
                            },
                            "minItems": 1,
                            "description": "One or more bank accounts to sync from"
                          }
                        },
                        "required": ["type", "accounts"],
                        "description": "Bank API sync source — pulls structured financial data from Plaid or Basiq"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["extractor"] },
                          "inboxAddress": {
                            "type": "string",
                            "format": "email",
                            "description": "Auto-generated forwarding email address (set by system on creation)"
                          },
                          "whitelistEnabled": {
                            "type": "boolean",
                            "default": false,
                            "description": "When true, only emails from addresses in the whitelist are processed"
                          },
                          "whitelist": {
                            "type": "array",
                            "items": { "type": "string", "format": "email" },
                            "description": "Allowed sender email addresses (only used when whitelistEnabled is true)"
                          }
                        },
                        "required": ["type"],
                        "description": "Email extraction source — processes forwarded emails using AI"
                      },
                      {
                        "type": "object",
                        "properties": { "type": { "type": "string", "enum": ["upload"] } },
                        "required": ["type"],
                        "description": "File upload source — processes uploaded PDFs/images using AI"
                      }
                    ],
                    "description": "How to connect to the data source. Required before triggering a sync."
                  },
                  "destinationConfig": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["notion"] },
                          "integrationId": {
                            "type": "string",
                            "description": "Notion integration ID — get from list_integrations"
                          },
                          "databaseId": {
                            "type": "string",
                            "description": "Notion database ID to write records into"
                          }
                        },
                        "required": ["type", "integrationId", "databaseId"],
                        "description": "Write to a Notion database"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["airtable"] },
                          "integrationId": {
                            "type": "string",
                            "description": "Airtable integration ID — get from list_integrations"
                          },
                          "baseId": { "type": "string", "description": "Airtable base ID" },
                          "tableId": {
                            "type": "string",
                            "description": "Airtable table ID to write records into"
                          }
                        },
                        "required": ["type", "integrationId", "baseId", "tableId"],
                        "description": "Write to an Airtable table"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["google_sheets"] },
                          "integrationId": {
                            "type": "string",
                            "description": "Google Sheets integration ID — get from list_integrations"
                          },
                          "spreadsheetId": {
                            "type": "string",
                            "description": "Google Sheets spreadsheet ID"
                          },
                          "sheetName": {
                            "type": "string",
                            "description": "Name of the sheet tab to write into"
                          },
                          "direction": {
                            "type": "string",
                            "enum": ["row", "column"],
                            "description": "\"row\" = each record is a row (default); \"column\" = each record is a column"
                          },
                          "headerRowOrColumn": {
                            "type": "integer",
                            "minimum": 0,
                            "exclusiveMinimum": true,
                            "description": "Row number (for row direction) or column number (for column direction) that contains headers"
                          },
                          "pushLocation": {
                            "type": "string",
                            "enum": ["beginning", "end"],
                            "description": "Where to insert new records: \"beginning\" prepends, \"end\" appends"
                          },
                          "attachmentFolderId": {
                            "type": "string",
                            "description": "Optional Google Drive folder ID for storing file attachments"
                          }
                        },
                        "required": [
                          "type",
                          "integrationId",
                          "spreadsheetId",
                          "sheetName",
                          "direction",
                          "headerRowOrColumn",
                          "pushLocation"
                        ],
                        "description": "Write to a Google Sheets spreadsheet"
                      }
                    ],
                    "description": "Where to write the data. Required before triggering a sync."
                  },
                  "fieldMappings": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sourceField": {
                          "type": "string",
                          "description": "Source field key — get valid keys from get_data_type_schema"
                        },
                        "destinationField": {
                          "type": "string",
                          "description": "Destination property ID (Notion/Airtable) or column name (Sheets)"
                        }
                      },
                      "required": ["sourceField", "destinationField"]
                    },
                    "description": "Maps source fields to destination columns/properties"
                  },
                  "dataTypeOptions": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "dataType": { "type": "string", "enum": ["transactions"] },
                          "pendingMode": {
                            "type": "string",
                            "enum": ["sync_all", "filter_pending", "track_and_update"],
                            "description": "\"sync_all\" — include pending transactions as-is; \"filter_pending\" — exclude pending transactions; \"track_and_update\" — sync pending and update records when they settle (recommended)"
                          }
                        },
                        "required": ["dataType", "pendingMode"],
                        "description": "Processing options for transaction feeds"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "dataType": { "type": "string", "enum": ["balances"] },
                          "mode": {
                            "type": "string",
                            "enum": ["append", "overwrite"],
                            "description": "\"append\" — add a new row for each sync (historical log); \"overwrite\" — replace the existing record (live snapshot)"
                          }
                        },
                        "required": ["dataType", "mode"],
                        "description": "Processing options for balance feeds"
                      },
                      {
                        "type": "object",
                        "properties": { "dataType": { "type": "string", "enum": ["trades"] } },
                        "required": ["dataType"],
                        "description": "Processing options for trade feeds"
                      },
                      {
                        "type": "object",
                        "properties": { "dataType": { "type": "string", "enum": ["holdings"] } },
                        "required": ["dataType"],
                        "description": "Processing options for holdings feeds"
                      },
                      {
                        "type": "object",
                        "properties": { "dataType": { "type": "string", "enum": ["loans"] } },
                        "required": ["dataType"],
                        "description": "Processing options for loan feeds"
                      }
                    ],
                    "description": "Data-type-specific processing options (sync feeds only)"
                  },
                  "extractionConfig": {
                    "type": "object",
                    "properties": {
                      "extractionFields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "description": "Unique field identifier (snake_case)"
                            },
                            "name": {
                              "type": "string",
                              "description": "Human-readable field name"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "string",
                                "number",
                                "date",
                                "currency",
                                "boolean",
                                "category",
                                "id"
                              ],
                              "description": "Field data type"
                            },
                            "description": {
                              "type": "string",
                              "description": "Description to guide AI extraction"
                            },
                            "examples": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "Example values to improve extraction accuracy"
                            },
                            "isItemField": {
                              "type": "boolean",
                              "description": "True if this field is part of a line-item list (e.g. individual receipt items)"
                            }
                          },
                          "required": ["key", "name", "type"]
                        },
                        "minItems": 1,
                        "description": "Fields the AI will extract from each document"
                      },
                      "itemizePerRow": {
                        "type": "boolean",
                        "description": "True = one destination row per extracted item; False = one row per document"
                      },
                      "extractionInstructions": {
                        "type": "string",
                        "description": "Custom instructions for the AI extractor (e.g. \"always use AUD for currency\")"
                      }
                    },
                    "required": ["extractionFields", "itemizePerRow"],
                    "description": "AI extraction field definitions (extractor/upload feeds only)"
                  },
                  "schedule": {
                    "type": "object",
                    "properties": {
                      "enabled": { "type": "boolean" },
                      "frequency": { "type": "string", "enum": ["daily", "weekly", "monthly"] },
                      "timeOfDay": { "type": "string", "pattern": "^\\d{2}:\\d{2}$" },
                      "dayOfWeek": {
                        "type": "integer",
                        "minimum": 0,
[...]
